PORT=4000
DRIVE_ROOT_FOLDER_ID=your-drive-root-folder-id
SHARED_PASSWORD=your-shared-password
GOOGLE_CLIENT_EMAIL=bot@example.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
